:root{
    --primary:#F8f4f1;
    --sec:#381c0a;
    --tri: #f09b71;
    --tri2:#745120;
}

@font-face{
    font-family: ABeionik;
    src: url(./fonts/Aeonik-Light.ttf);
    font-weight: 200;
}

@font-face{
    font-family: Aeionik;
    src: url(./fonts/Aeonik-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: Aeionik;
    src: url(./fonts/Aeonik-Bold.ttf);
    font-weight: 700;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Aeonik;
    color: var(--primary);
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

}

.elem{
    background-color: #FEBA17;
    height: 300px;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.3s;

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 23px;
    right: 5%;
}
.elem:active{
    scale: 0.97;
}