:root{
    --primary:#F8f4f1;
    --sec:#381c0a;
    --tri: #f09b71;
    --tri2:#745120;
    --red: red;
}

@font-face{
    font-family: Aeionik;
    src: url(./fonts/Aeonik-Light.ttf);
    font-weight: 200;
}

@font-face{
    font-family: Aeionik;
    src: url(./fonts/Aeonik-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: Aeionik;
    src: url(./fonts/Aeonik-Bold.ttf);
    font-weight: 700;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Aeonik;
    color: var(--primary);
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    position: absolute;

}

.elem{
    background-color: #FEBA17;
    height: 300px;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.3s;
    cursor: pointer;
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2)  ;

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 23px;
    right: 5%;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 20px;
    display: none;
    position: absolute;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h2 {
    margin: 0;
}

.back{
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}
.todo-list-fullpage{
    display: block;
}
.todo-list-fullpage h2{
    font-size: 50px;

}
.todo-list-fullpage .todo-container{
    height: 85%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form #task-input{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--primary);
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    height: 250px;
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 26px;
    background-color: var(--tri);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.todo-container .addTask button:active{
    scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;

}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary);
    padding:  14px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.task h5{
    color: var(--sec);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.task h5 span{
    background-color: var(--red);
    color: var(--primary);
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 11px;
}

.task h5 span.true{
    opacity: 1;
}


.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 8px 15px;
    color: var(--primary);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
}

.task button:active{
    scale: 0.95;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 18px;
    margin-bottom: 10px;
    width: 100%;
    gap: 30px;
}

.mark-imp input{
    scale: 2;
}

.mark-imp label{
    font-size: 20px;
}